.reparto{
    width: 100%;
    height: 20px;
    font-size: 10px;
    background: black;
    display: flex;  
    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    
}

p{
    color: azure;
}

.moto {
    width: 20px; 
    height: auto; 
    margin-right: 10px; 
}
