<section></section>
<div class="topnav">
  <img
    src="../../../assets/images/logo-Don-mascotero-SFP.png"
    class="moto"
    alt=""
  />
  <div class="opciones">
    <div class="buscador">
      <input type="text" class="search-input" placeholder="Buscar..." />
    </div>
    <div class="menu">
      <a href="#home">Gatos</a>
      <a href="#news">Perros</a>
      <a href="#contact">Alimentos</a>
      <a href="#about">Juguetes</a>
    </div>
  </div>
  <div class="carrito">
    <div class="icono-carrito">
      <i class="pi pi-shopping-cart"></i>
      <span class="contador" id="contador">{{ cardProduct }}</span>
    </div>
  </div>
</div>
